# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/client/node_modules
/server/node_modules
/devserver/node_modules
/devserver_localhost/node_modules

# IDEs and editors
/.idea
/client/.idea
/server/.idea
/devserver/.idea
/devserver_localhost/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# TEST